<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                For Bootstrap Test!
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 zjw_nav">
            <ul class="nav nav-sidebar">
                <li role="presentation" class="active"><a href="#modalRegion" class="list-group-item text-capitalize">モーダル(Modal)</a>
                </li>
                <li role="presentation"><a href="#i18nextRegion" class="list-group-item">国際化(i18n)</a></li>
                <li role="presentation"><a href="#qrCodeRegion" class="list-group-item">QRコード(?)</a></li>
                <li role="presentation"><a href="#444" class="list-group-item">444</a></li>
                <li role="presentation"><a href="#555" class="list-group-item">555</a></li>
            </ul>
        </div>
        <div class="col-md-9 main sidebar">
            <div id="modalRegion" class="zjw_module"></div>
            <div id="i18nextRegion" class="zjw_module"></div>
            <div id="qrCodeRegion" class="zjw_module"></div>
            <div id="444" class="zjw_module">
                <h2><span class="glyphicon glyphicon-screenshot"></span>444</h2>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
            <div id="555" class="zjw_module">
                <h2><span class="glyphicon glyphicon-screenshot"></span>555</h2>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>
<!--<div class="container" style="position: relative;margin: 40px 0px 0px 0px">-->

<!--</div>-->

<!-- Modal -->
<div class="modal fade" id="hogeModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="hogeModalLabel">Modal title</h4>
            </div>

            <div class="modal-body">
                the content you want to show!
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close">Close</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>