<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>BarChart Sample</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap-datepicker/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" href="css/bootstrap-dialog/bootstrap-dialog.css"/>
    <link rel="stylesheet" href="css/bootstrap-select/bootstrap-select.css"/>
    <script src="./js/Chart/Chart.js"></script>
    <script src="./js/jquery/jquery.js"></script>
    <script src="./js/bootstrap/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="color:red;font-weight:bolder">Help you Pass CAMS</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >UML&Jude(開発ツール)</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <a href="http://blog.csdn.net/zdwzzu2006/article/details/4567682">Learn UML with
                                    JUDE</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >build tools - Maven</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <a href="http://www.cnblogs.com/fnng/archive/2011/12/02/2272610.html">maven环境快速搭建</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >patterns 模式</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <a href="http://blog.csdn.net/redarmy_chen/article/details/12969219">工厂模式，单例模式，Facade</a><br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >data modeling</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                Use 「A5E2」設計E-R図、生成テーブル定義書、ddl。PJ名：入出庫管理。DB構成：商品T、入庫T、出庫T、社員T、配送T
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label > (DIIP) Automation Blueprint </label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                Use Mybatis-Gen、生成Responsitory.xml　AND Entities
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >SVN、Git</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <a href="http://huihai.iteye.com/blog/1985751">SVN命令　authz、passwd、svnserve.conf</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >logic algorithms 排序&&BarChar坐标计算，和表示 </label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <span style="font-weight:bolder" >冒泡排序：</span><br />
                                　　S1:从待排序序列的起始位置开始，从前往后依次比较各个位置和其后一位置的值得大小并执行S2。<br />
                                　　S2：如果当前位置的值大于其后需位置的值，就把他俩的值交换。<br />
                                　　//完成此次全序列比较后，序列最后位置的值即此序列最大值，所以其不需要在参与冒泡。<br />
                                　　S4：将序列的最后一个位置从待冒泡的序列中移除。如果移除后待排序序列不为空则执行S1，否则冒泡结束
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >Java.lang,util,math </label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <a href="http://www.cnblogs.com/frankliiu-java/articles/1944276.html">Util: Calendar,Date,EventObject,Random,BitSet,Dictionary(Hashtable)</a> <br />
                                <a href="http://www.cnblogs.com/frankliiu-java/articles/1941077.html">Lang: Comparable,Runable(多线程), Boolean,Byte,Character,Enum,Integer,Long,Object</a> <br />
                                <a href="http://blog.csdn.net/lixiang0522/article/details/7557851">math: BigDecimal abs求绝对值 ceil返回大的值，floor返回小的值,max,Min,round,random </a> <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >Java Collections Framework (JCF) </label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <a href="http://www.2cto.com/kf/201408/330018.html">Iterator,Collection,List,Set,Map</a><br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >java的Serialization</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <a href="http://zzy1943.iteye.com/blog/634418">java的Serialization 机制</a><br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >JAVA IO （I/O）</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <a href="http://blog.csdn.net/tianyue168/article/details/5786642"> JAVA IO 设计模式彻底分析</a><br />
                                <a href="http://blog.csdn.net/wong_judy/article/details/5267911">字节/符流的输入与输出的对应</a><br />

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >threading（多线程）</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <a href="http://www.cnblogs.com/riskyer/p/3263032.html"> java多线程詳解</a><br />
                                <a href="http://www.cnblogs.com/rollenholt/archive/2011/08/28/2156357.html"> java中的多线程</a><br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >存储过程　stored procedures</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <a href="http://www.cnblogs.com/nicholas_f/articles/1526029.html">Oracle存储过程简单实例</a><br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >performance tuning　性能改善</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <a href="http://www.cnblogs.com/Shaina/archive/2012/04/22/2464576.html">ＳＱＬ调优: </a><br />
                                <a href="http://blog.csdn.net/zhangweikai966/article/details/24290315"> Java性能:并行处理数据（Bat）,减少数据读写，减少ＤＢ交互次数，</a><br />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >Javadoc </label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <a href="http://niewj.iteye.com/blog/899436">javadoc的使用及eclipse生成</a><br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >JDBC</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <a href="http://www.cnblogs.com/hongten/archive/2011/03/29/1998311.html">JDBC连接数据库代码和步骤</a><br />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >Java API for XML</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <a href="http://blog.csdn.net/redarmy_chen/article/details/12969219">DOM4J</a><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
