<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title zjw_fontBold"><span class="glyphicon glyphicon-screenshot"></span>
            モーダル(Modal)</h3>
    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-warning" id="hogeButton">Click to show Modal</button>
    </div>
</div>